
BODY {
	SCROLLBAR-FACE-COLOR: #666666; 
	FONT-SIZE: 0pt; MARGIN: 0px;
SCROLLBAR-HIGHLIGHT-COLOR: #cccccc; 
SCROLLBAR-SHADOW-COLOR: #cccccc; 
SCROLLBAR-3DLIGHT-COLOR: #cccccc; 
SCROLLBAR-ARROW-COLOR: #cccccc; 
SCROLLBAR-TRACK-COLOR: #cccccc; 
FONT-FAMILY: verdana, arial; 
SCROLLBAR-DARKSHADOW-COLOR: #666666; 
TEXT-DECORATION: none
}
